---
layout: home
author_profile: true
---
  <nav class="home-sidebar">
      <ul>
        <li><a href="/">전체보기</a></li>
        <li><a href="/category/SE.html">System Engineer({{ site.categories.dev.size }})</a></li>
        <li><a href="/category/statistic.html">Statistic({{ site.categories.series.size }})</a></li>
        <li><a href="/category/statistic.html">Algorithm({{ site.categories.series.size }})</a></li>
        <li><a class="active" href="#">Machine Learning({{ site.categories.think.size }})</a></li>
      </ul>
    </nav>
    <div class="home-main">
      <ul id="post-list" class="post-list">
        {% for post in site.categories.think %}
          <li>{% include post-list.html %}</li>
        {% endfor %}
      </ul>
    </div>

